@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-bounceIn {
  animation: bounceIn 0.5s ease-out forwards;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Add this to your global CSS file */
@keyframes dropdown-bounce {
  0% {
    opacity: 0;
    transform: translateY(-6px) scale(0.97);
  }
  40% {
    opacity: 0.65;
    transform: translateY(1px) scale(1.01);
  }
  70% {
    opacity: 0.9;
    transform: translateY(-0.5px) scale(1.005);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-dropdown-bounce {
  animation: dropdown-bounce 0.6s cubic-bezier(0.25, 0.8, 0.75, 1);
}

/* .counter::-webkit-scrollbar {
  display: none;
} */

@keyframes ring-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes ring-dash {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 60;
  }
}

.blob-ring-outer {
  animation: ring-rotate 6s linear infinite,
    ring-dash 2.5s ease-in-out infinite alternate;
  transform-origin: 68px 68px;
}

.blob-ring-inner {
  animation: ring-rotate 8s linear reverse infinite,
    ring-dash 3.5s ease-in-out infinite alternate;
  transform-origin: 68px 68px;
}

.hide-scrollbar {
  overflow: auto;

  /* Hide scrollbar for Chrome, Safari, Opera */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
